@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Oswald:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Poppins", "Merriweather", "sans serif", "serif";
}

:root {
  --text-primary: rgb(24, 23, 23);
  --text-secondary: rgb(255, 255, 255);
  --bg-primary: rgb(245, 245, 245);
  --bg-secondary: rgb(53, 53, 53);
  --transition-setting: all cubic-bezier(0.87, -0.41, 0.19, 1.44);
  --transition-setting-2: all ease-in-out;
}

::-moz-selection {
  color: rgb(250, 99, 99);
}

::selection {
  color: rgb(250, 99, 99);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px lightcoral;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 50px;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 70px;
  padding: 0 2em;
  background-color: var(--bg-primary);
  box-shadow: 0px 2px 7px rgb(85, 84, 84);
}
.header img {
  min-width: 50px;
}
.header .burger {
  font-size: 1.1em;
}
.header .links-navigations {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6em;
  width: 100%;
  height: 100vh;
  color: var(--text-primary);
}
.hero p {
  text-align: center;
  font-size: 1em;
}
.hero div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
.hero div p {
  line-height: 1.2em;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0.1em;
}
.hero button {
  margin-top: 2em;
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
  font-size: 0.8em;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6em;
}
.intro .quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  height: 80vh;
}
.intro .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4em;
}
.intro .about h2 + p {
  margin-top: 1em;
}
.intro .about h2 + p + p {
  margin-bottom: 2em;
}
.intro .about .certs div {
  margin: 2em 0em;
  border: 1px solid black;
}
.intro .about .certs div img {
  min-width: 200px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6em;
}
.projects .project-card {
  border-radius: 0.5em;
  overflow: hidden;
  max-width: 250px;
  max-height: 700px;
  margin: 2em 0;
  box-shadow: 0px 3px 10px rgb(82, 81, 81);
}
.projects .project-card img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .project-card a + p {
  font-size: 0.7em;
  text-align: center;
  color: rgb(71, 69, 69);
}
.projects .project-card a ~ div {
  padding: 0.5em;
}
.projects .project-card a ~ div h3 + p {
  font-size: 0.9em;
}
.projects .project-card .tools {
  margin-top: 2em;
  height: 100px;
  background-color: rgb(248, 227, 227);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.projects .project-card .tools div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em 0.2em;
}
.projects .project-card .tools p {
  border-radius: 5em;
  background-color: rgb(248, 191, 191);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.4em 1em;
  font-size: 0.6em;
}/*# sourceMappingURL=styles.css.map */